[submodule "packages/TrackPerf"]
	path = packages/TrackPerf
	url = https://gitlab.cern.ch/berkeleylab/MuonCollider/TrackPerf.git
[submodule "packages/ACTSTracking"]
	path = packages/ACTSTracking
	url = https://github.com/MuonColliderSoft/ACTSTracking.git
